
<body>
    <div class="screen-overlay"></div>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">        
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#">
                            <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <!-- <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                </div>
                <div>
                    <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a>
                    <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div> -->
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search User Id..."  id="search" class="form-control">
                                <span id="search-err" style="color: red;" hidden>Invalid</span>
                            </div>
                       
                        <!-- <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div> -->
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col flex-grow-0">
                                <div >
                                    <span>No.</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-3 me-auto mb-md-0 mb-3">
                                <span>Name</span>
                            </div>
                            <div class="col-md-3 col-3 me-auto mb-md-0 mb-3">
                                <span>User Id</span>
                            </div>
                        </div>
                    </header>
                    <% for(i=0;i<data.length;i++){%>
                    <article class="itemlist">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                <div class="form-check">
                                    <span><%=i+1%></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">
                                    <div class="info">
                                        <h6 class="mb-0"><%=data[i].fname%></h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span><%=data[i].phn_no%></span> </div>
                            <div class="col-lg-3 col-sm-2 col-4 col-status">
                                <!-- <%if(data[i].access){%>
                                <span class="badge rounded-pill alert-success">Accessed</span>
                                <%}else{%>
                                <span class="badge rounded-pill alert-danger">Blocked</span>
                                <%}%> -->
                                <span><%=data[i].email%></span>

                            </div>
                            <!-- <div class="col-lg-1 col-sm-2 col-4 col-date">
                            </div> -->
                            <%if(data[i].access){%>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                <a href="#" onclick="access(event,false,'<%=data[i].userId%>')" class="btn btn-sm font-sm rounded btn-brand" style="background-color: rgb(145, 6, 6);">
                                    Block
                                </a>
                                <%}else{%>
                                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                        <a href="#" onclick="access(event,true,'<%=data[i].userId%>')" class="btn btn-sm font-sm rounded btn-brand" style="background-color: rgb(62, 145, 6);">
                                            Unblock
                                        </a>
                                    <%}%>
                                <!-- <a href="#" onclick="deleteProduct(event,'<%=data[i]._id%>' )" class="btn btn-sm font-sm btn-light rounded">
                                     Block
                                </a> -->
                            </div>
                        </div> <!-- row .// -->
                    </article> <!-- itemlist  .// -->
                    <%}%>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <!-- <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Punch
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
   
</body>
