<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.full.min.js"></script>

<!-- Report modal -->
<!-- <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reportModalLabel">Generate Report</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/v1/admin/report" method="get" enctype="application/x-www-form-urlencoded" >
            <div class="mb-3">
              <label for="reportType" class="form-label">Report Type</label>
              <select class="form-select" id="reportType" name="reportType" required>
                <option value="pdf">PDF</option>
                <option value="excel">Excel</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="startDate" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="startDate" name="startDate" required>
            </div>
            <div class="mb-3">
              <label for="endDate" class="form-label">End Date</label>
              <input type="date" class="form-control" id="endDate" name="endDate" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="generateReportBtn">Generate</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->

<div class="screen-overlay"></div>

<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
        </div>
        <div class="col-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#">
                        <i class="material-icons md-nights_stay"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Dashboard </h2>
                <p>Whole data about your business here</p>
            </div>
            <!-- <div>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reportModal"><i
                        class="text-muted material-icons md-post_add"></i>Create report</button>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Revenue</h6>
                            <span>
                                <%=totalamount%>
                            </span>

                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i
                                class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Orders</h6> <span>
                                <%=orderCount%>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Products</h6> <span>
                                <%=productTotalCount%>
                            </span>

                        </div>
                    </article>
                </div>
            </div>
            <!-- <div class="col-lg-3">
                <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Earning</h6> <span>$6,982</span>
                                <span class="text-sm">
                                    Based in your local time.
                                </span>
                            </div>
                        </article>
                    </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Order statistics</h5>
                        <div id="chartdiv"></div>
                    </article>
                </div>
                <div class="row"></div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <!-- <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Revenue Base on Area</h5>
                        <canvas id="myChart2" height="217"></canvas>
                    </article>
                </div> -->
                <!-- <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Marketing Chanel</h5>
                            <span class="text-muted font-xs">Facebook</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 15%">15%</div>
                            </div>
                            <span class="text-muted font-xs">Instagram</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 65%">65% </div>
                            </div>
                            <span class="text-muted font-xs">Google</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 51%"> 51% </div>
                            </div>
                            <span class="text-muted font-xs">Twitter</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                            </div>
                            <span class="text-muted font-xs">Other</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                            </div>
                        </article>
                    </div> -->
            </div>
        </div>
        <!-- daily -->
        <div>
            <div class="card mb-4" >
                <div id="sales-report-daily">
                    <header class="card-header">
                        <h4 class="card-title">Daily Sales</h4>
                        <div class="row align-items-center">
                            <!-- <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                    <div class="custom_select">
                                        <select class="form-select select-nice">
                                            <option selected>All Categories</option>
                                            <option>Women's Clothing</option>
                                            <option>Men's Clothing</option>
                                            <option>Cellphones</option>
                                            <option>Computer & Office</option>
                                            <option>Consumer Electronics</option>
                                            <option>Jewelry & Accessories</option>
                                            <option>Home & Garden</option>
                                            <option>Luggage & Bags</option>
                                            <option>Shoes</option>
                                            <option>Mother & Kids</option>
                                        </select>
                                    </div>
                                </div> -->
                            <!-- <div class="col-md-2 col-6">
                                    <input type="date" value="02.05.2021" class="form-control">
                                </div>
                                <div class="col-md-2 col-6">
                                    <div class="custom_select">
                                        <select class="form-select select-nice">
                                            <option selected>Status</option>
                                            <option>All</option>
                                            <option>Paid</option>
                                            <option>Chargeback</option>
                                            <option>Refund</option>
                                        </select>
                                    </div>
                                </div> -->
                        </div>
                    </header>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <!-- <th scope="col" class="text-center">
                                                    <div class="form-check align-middle">
                                                        <input class="form-check-input" type="checkbox" id="transactionCheck01">
                                                        <label class="form-check-label" for="transactionCheck01"></label>
                                                    </div>
                                                </th> -->
                                            <th class="align-middle" scope="col">Date</th>
                                            <th class="align-middle" scope="col">Total order</th>
                                            <th class="align-middle" scope="col">Daily Total Sale</th>
                                            <!-- <th class="align-middle" scope="col"></th> -->
                                            <!-- <th class="align-middle" scope="col">Payment Status</th>
                                                <th class="align-middle" scope="col">Payment Method</th>
                                                <th class="align-middle" scope="col">View Details</th> -->
                                        </tr>
                                    </thead>
                                    <%if(dailyData){%>
                                        <%dailyData.forEach(ele=>{%>
                                            <tbody>
                                                <tr>
                                                    <!-- <td class="text-center">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="transactionCheck02">
                                                        <label class="form-check-label" for="transactionCheck02"></label>
                                                    </div>
                                                </td> -->
                                                    <td><a href="#" class="fw-bold">
                                                            <%=formatDate(new Date(ele.date),'MMMM do, yyyy')%>
                                                        </a> </td>
                                                    <td>
                                                        <%=ele.totalOrders%>
                                                    </td>
                                                    <td>
                                                        <%=currencyFormatter.format(ele.dailyTotalSales)%>
                                                    </td>
                                                    <!-- <td>
                                                    $400
                                                </td>
                                                <td>
                                                    <span class="badge badge-pill badge-soft-success">Paid</span>
                                                </td>
                                                <td>
                                                    <i class="material-icons md-payment font-xxl text-muted mr-5"></i> Mastercard
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-xs"> View details</a>
                                                </td> -->
                                                </tr>
                                            </tbody>
                                            <%})%>
                                                <%}%>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 ms-2 mb-2">
                    <button class="btn btn-primary" id="pdf1">Download Daily data</button>
                </div>
            </div>
        </div>

        <!-- weekly -->
        <div>
            <div class="card mb-4" >
                <div id="sales-report-weekly">
                    <header class="card-header">
                        <h4 class="card-title">Weekly Sales</h4>
                        <div class="row align-items-center">
                            <!-- <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                    <div class="custom_select">
                                        <select class="form-select select-nice">
                                            <option selected>All Categories</option>
                                            <option>Women's Clothing</option>
                                            <option>Men's Clothing</option>
                                            <option>Cellphones</option>
                                            <option>Computer & Office</option>
                                            <option>Consumer Electronics</option>
                                            <option>Jewelry & Accessories</option>
                                            <option>Home & Garden</option>
                                            <option>Luggage & Bags</option>
                                            <option>Shoes</option>
                                            <option>Mother & Kids</option>
                                        </select>
                                    </div>
                                </div> -->
                            <!-- <div class="col-md-2 col-6">
                                    <input type="date" value="02.05.2021" class="form-control">
                                </div>
                                <div class="col-md-2 col-6">
                                    <div class="custom_select">
                                        <select class="form-select select-nice">
                                            <option selected>Status</option>
                                            <option>All</option>
                                            <option>Paid</option>
                                            <option>Chargeback</option>
                                            <option>Refund</option>
                                        </select>
                                    </div>
                                </div> -->
                        </div>
                    </header>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <!-- <th scope="col" class="text-center">
                                                    <div class="form-check align-middle">
                                                        <input class="form-check-input" type="checkbox" id="transactionCheck01">
                                                        <label class="form-check-label" for="transactionCheck01"></label>
                                                    </div>
                                                </th> -->
                                            <th class="align-middle" scope="col">Date</th>
                                            <th class="align-middle" scope="col">Total order</th>
                                            <th class="align-middle" scope="col">Weekly Total Sale</th>
                                            <!-- <th class="align-middle" scope="col"></th> -->
                                            <!-- <th class="align-middle" scope="col">Payment Status</th>
                                                <th class="align-middle" scope="col">Payment Method</th>
                                                <th class="align-middle" scope="col">View Details</th> -->
                                        </tr>
                                    </thead>
                                    <%if(weeklyData){%>
                                        <%weeklyData.forEach(ele=>{%>
                                            <tbody>
                                                <tr>
                                                    <!-- <td class="text-center">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="transactionCheck02">
                                                        <label class="form-check-label" for="transactionCheck02"></label>
                                                    </div>
                                                </td> -->
                                                    <td><a href="#" class="fw-bold">
                                                            <%=formatDate(new Date(ele.weekStartDate),'MMMM do')%> -
                                                                <%=formatDate(new Date(ele.weekEndDate),'MMMM do')%>
                                                        </a> </td>
                                                    <td>
                                                        <%=ele.totalOrders%>
                                                    </td>
                                                    <td>
                                                        <%=currencyFormatter.format(ele.weeklyTotalSales)%>
                                                    </td>
                                                    <!-- <td>
                                                    $400
                                                </td>
                                                <td>
                                                    <span class="badge badge-pill badge-soft-success">Paid</span>
                                                </td>
                                                <td>
                                                    <i class="material-icons md-payment font-xxl text-muted mr-5"></i> Mastercard
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-xs"> View details</a>
                                                </td> -->
                                                </tr>
                                            </tbody>
                                            <%})%>
                                                <%}%>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 ms-2 mb-2">
                    <button class="btn btn-primary" id="pdf2">Download Weekly data</button>
                </div>
            </div>
        </div>

        <!-- yearly -->
        <div>
            <div class="card mb-4">
                <div id="sales-report-yearly">
                    <header class="card-header">
                        <h4 class="card-title">Yearly Sales</h4>
                        <div class="row align-items-center">
                            <!-- <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                <div class="custom_select">
                                    <select class="form-select select-nice">
                                        <option selected>All Categories</option>
                                        <option>Women's Clothing</option>
                                        <option>Men's Clothing</option>
                                        <option>Cellphones</option>
                                        <option>Computer & Office</option>
                                        <option>Consumer Electronics</option>
                                        <option>Jewelry & Accessories</option>
                                        <option>Home & Garden</option>
                                        <option>Luggage & Bags</option>
                                        <option>Shoes</option>
                                        <option>Mother & Kids</option>
                                    </select>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-2 col-6">
                                <input type="date" value="02.05.2021" class="form-control">
                            </div>
                            <div class="col-md-2 col-6">
                                <div class="custom_select">
                                    <select class="form-select select-nice">
                                        <option selected>Status</option>
                                        <option>All</option>
                                        <option>Paid</option>
                                        <option>Chargeback</option>
                                        <option>Refund</option>
                                    </select>
                                </div>
                            </div> -->
                        </div>
                    </header>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <!-- <th scope="col" class="text-center">
                                                <div class="form-check align-middle">
                                                    <input class="form-check-input" type="checkbox" id="transactionCheck01">
                                                    <label class="form-check-label" for="transactionCheck01"></label>
                                                </div>
                                            </th> -->
                                            <th class="align-middle" scope="col">Date</th>
                                            <!-- <th class="align-middle" scope="col">Total order</th> -->
                                            <th class="align-middle" scope="col">Yearly Total Sale</th>
                                            <!-- <th class="align-middle" scope="col"></th> -->
                                            <!-- <th class="align-middle" scope="col">Payment Status</th>
                                            <th class="align-middle" scope="col">Payment Method</th>
                                            <th class="align-middle" scope="col">View Details</th> -->
                                        </tr>
                                    </thead>
                                    <%if(yearlyData){%>
                                        <%yearlyData.forEach(ele=>{%>
                                            <tbody>
                                                <tr>
                                                    <!-- <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="transactionCheck02">
                                                    <label class="form-check-label" for="transactionCheck02"></label>
                                                </div>
                                            </td> -->
                                                    <td><a href="#" class="fw-bold">
                                                            <%=ele.year%>
                                                        </a> </td>
                                                    <!-- <td>
                                                    <%=ele.totalOrders%>
                                                </td> -->
                                                    <td>
                                                        <%=currencyFormatter.format(ele.yearlyTotalSales)%>
                                                    </td>
                                                    <!-- <td>
                                                $400
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-soft-success">Paid</span>
                                            </td>
                                            <td>
                                                <i class="material-icons md-payment font-xxl text-muted mr-5"></i> Mastercard
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-xs"> View details</a>
                                            </td> -->
                                                </tr>
                                            </tbody>
                                            <%})%>
                                                <%}%>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 ms-2 mb-2">
                    <button class="btn btn-primary" id="pdf3">Download Yearly data</button>
                </div>
            </div>
        </div>

    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Punch
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>
</body>

<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!-- Chart code -->
<script>
    am5.ready(function () {

        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("chartdiv");


        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([
            am5themes_Animated.new(root)
        ]);


        // Create chart
        // https://www.amcharts.com/docs/v5/charts/xy-chart/
        var chart = root.container.children.push(am5xy.XYChart.new(root, {
            panX: true,
            panY: true,
            wheelX: "panX",
            wheelY: "zoomX",
            pinchZoomX: true
        }));

        // Add cursor
        // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
        var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
        cursor.lineY.set("visible", false);


        // Create axes
        // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
        var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });
        xRenderer.labels.template.setAll({
            rotation: -90,
            centerY: am5.p50,
            centerX: am5.p100,
            paddingRight: 15
        });

        xRenderer.grid.template.setAll({
            location: 1
        })

        var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
            maxDeviation: 0.3,
            categoryField: "country",
            renderer: xRenderer,
            tooltip: am5.Tooltip.new(root, {})
        }));

        var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
            maxDeviation: 0.3,
            renderer: am5xy.AxisRendererY.new(root, {
                strokeOpacity: 0.1
            })
        }));


        // Create series
        // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
        var series = chart.series.push(am5xy.ColumnSeries.new(root, {
            name: "Series 1",
            xAxis: xAxis,
            yAxis: yAxis,
            valueYField: "value",
            sequencedInterpolation: true,
            categoryXField: "country",
            tooltip: am5.Tooltip.new(root, {
                labelText: "{valueY}"
            })
        }));

        series.columns.template.setAll({ cornerRadiusTL: 5, cornerRadiusTR: 5, strokeOpacity: 0 });
        series.columns.template.adapters.add("fill", function (fill, target) {
            return chart.get("colors").getIndex(series.columns.indexOf(target));
        });

        series.columns.template.adapters.add("stroke", function (stroke, target) {
            return chart.get("colors").getIndex(series.columns.indexOf(target));
        });

        var monthlyChartData = '<%-JSON.stringify(monthlyData) %>'

        // Set data
        var data = JSON.parse(monthlyChartData)

        xAxis.data.setAll(data);
        series.data.setAll(data);


        // Make stuff animate on load
        // https://www.amcharts.com/docs/v5/concepts/animations/
        series.appear(1000);
        chart.appear(1000, 100);

    }); // end am5.ready()
</script>
<script>


    // {{!-- PDF & Excel Sales Report download --}}

    $(document).ready(function () {

        $('#pdf1').click(function (e) {

            swal("Are you sure want to download this ?", {
                buttons: ["No", "Yes"],
            }).then((res) => {
                if (res) {
                    event.preventDefault();
                    var element = document.getElementById('sales-report-daily');
                    let randomNumber = Math.floor(Math.random() * (10000000000 - 1)) + 1;
                    var opt = {
                        margin: 0,
                        filename: 'SalesReport' + randomNumber + '.pdf',
                        html2canvas: { scale: 10 },
                        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                    };

                    html2pdf().set(opt).from(element).save();
                }
            })

        })
        $('#pdf2').click(function (e) {

            swal("Are you sure want to download this ?", {
                buttons: ["No", "Yes"],
            }).then((res) => {
                if (res) {
                    event.preventDefault();
                    var element = document.getElementById('sales-report-weekly');
                    let randomNumber = Math.floor(Math.random() * (10000000000 - 1)) + 1;
                    var opt = {
                        margin: 0,
                        filename: 'SalesReport' + randomNumber + '.pdf',
                        html2canvas: { scale: 10 },
                        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                    };

                    html2pdf().set(opt).from(element).save();
                }
            })

        })

        $('#pdf3').click(function (e) {

            swal("Are you sure want to download this ?", {
                buttons: ["No", "Yes"],
            }).then((res) => {
                if (res) {
                    event.preventDefault();
                    var element = document.getElementById('sales-report-yearly');
                    let randomNumber = Math.floor(Math.random() * (10000000000 - 1)) + 1;
                    var opt = {
                        margin: 0,
                        filename: 'SalesReport' + randomNumber + '.pdf',
                        html2canvas: { scale: 10 },
                        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                    };

                    html2pdf().set(opt).from(element).save();
                }
            })

        })

    })




    $(document).ready(function () {
        $('#xlsheet').on('click', function () {
            swal("Are you sure want to download this ?", {
                buttons: ["No", "Yes"],
            }).then((res) => {
                if (res) {
                    const rows = $('#sales-table tr');
                    const data = [];


                    // Loop through rows and cells to build the data array
                    rows.each(function (index, row) {
                        const rowData = [];
                        $(row).find('th, td').each(function (index, cell) {
                            rowData.push($(cell).text());
                        });
                        data.push(rowData);
                    });

                    // Convert the data array to a SheetJS workbook and sheet
                    const ws = XLSX.utils.aoa_to_sheet(data);
                    const wb = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

                    // Save the workbook as an Excel file
                    XLSX.writeFile(wb, 'sales-table.xlsx');
                }
            })

        });
    });

</script>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->

</html>