<div>
    <div class="d-flex justify-content-center">
        <div>
            <img src="https://res.cloudinary.com/dkrcoyj7y/image/upload/v1681205172/order/order-confirmed_qmjlyd.webp"
                style="height: 400px;" alt="Order Confirmed">
        </div>
    </div>
    <div>
        <div class="m-5">
            <div class="row col-12 ">
                <div class="d-flex justify-content-center">
                    <div class="table-responsive">
                        <h2 class="py-3" style="font-family: 'Courier New', Courier, monospace;">Order Details</h2>
                        <table class="table shopping-summery text-center clean">
                            <tbody style="font-family: 'Courier New', Courier, monospace;">
                                <tr>
                                    <td>
                                        No.
                                    </td>
                                    <td>
                                        <p>Image</p>
                                    </td>
                                    <td>
                                        <p>Name</p>
                                    </td>
                                    <td>
                                        <div>
                                            <p>Qty</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p>Price</p>
                                    </td>
                                </tr>
                                <%for(let i = 0;i<productDetails.length;i++){%>
                                <tr>
                                    <td>
                                        <p><%=i+1%></p>
                                    </td>
                                    <td class="image product-thumbnail"><img src="<%=productDetails[i].image[0]%>"
                                            alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="#" style="font-family: 'Courier New', Courier, monospace;" ><%=productDetails[i].name.substring(0,30)%>...</a></h5>
                                    </td>
                                    <td class="text-center" data-title="Stock">
                                        <div >
                                            <span ><%=boughtPrice[i].quantity%></span>
                                        </div>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <span ><%=boughtPrice[i].boughtPrice%> </span>
                                    </td>
                                </tr>
                                <%}%>
                                <tr>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td class="text-center" data-title="Stock">
                                        <p >Total:</p>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <span ><%=totalPrice%></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div>
            <a href="/v1/users/dashboard"><button class="btn me-2">View Orders</button></a>
        </div>
        <div>
            <a href="/"><button class="btn me-2">Shop More</button></a>
        </div>
    </div>
</div>