<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12" id="cart-content">
                <%if(dataPresent){%>

                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(ele=>{%>
                                    <tr>
                                        <td class="image product-thumbnail"><img src="<%=ele.productDetails[0].image[0]%>" alt="#">
                                        </td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="/v1/product?name=<%=ele.productDetails[0].slug%>&&pId=<%=ele.product.pId%>">
                                                    <%=ele.productDetails[0].name%>
                                                </a></h5>
                                        </td>
                                        <td class="price"><span data-title="<%=ele.productDetails[0].slug%>">₹<%=ele.productDetails[0].price%>
                                                    </span></td>
                                        <td class="text-center" data-title="Stock">
                                            <div class="detail-qty border radius  m-auto">
                                                <a href="#"  class="qty-down"><i onclick="qtychange('<%=ele.productDetails[0].slug%>','<%=ele.product.pId%>',-1)" class="fi-rs-angle-small-down"></i></a>
                                                <span data-id="<%=ele.productDetails[0].slug%>" >
                                                    <%=ele.product.quantity%>
                                                </span>
                                                <a href="#"  class="qty-up"><i  onclick="qtychange('<%=ele.productDetails[0].slug%>','<%=ele.product.pId%>',1)" class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span id="subTotal-<%=ele.productDetails[0].slug%>">
                                                <%=ele.product.subTotal%>
                                            </span>
                                        </td>
                                        <td class="action" data-title="Remove" onclick="deleteItem('<%=ele.productDetails[0].slug%>','<%=ele.product.pId%>')"><button
                                                class="delete-btn" style="border-color: transparent;"><i
                                                    class="fi-rs-trash"></i></button></td>
                                    </tr>
                                    <%})%>
                                        <tr>
                                            <td colspan="6" class="text-end">
                                                <a href="#" class="text-muted" id="clear-cart"> <i class="fi-rs-cross-small"></i> Clear
                                                    Cart</a>
                                            </td>
                                        </tr>
                                        
                            </tbody>
                        </table>
                    </div>
                    <div class="row mb-50">
                        <div class="col-lg-6 col-md-12">
                           
                            <div class="mb-30 mt-50">
                                <div class="heading_s1 mb-3">
                                    <h4>Apply Coupon</h4>
                                </div>
                                <div class="total-amount">
                                    <div class="left">
                                        <div class="coupon">
                                            <form action="#" target="_blank">
                                                <div class="form-row row justify-content-center">
                                                    <div class="form-group col-lg-6">
                                                        <input class="font-medium" name="Coupon"
                                                            placeholder="Enter Your Coupon">
                                                    </div>
                                                    <div class="form-group col-lg-6">
                                                        <button class="btn  btn-sm"><i
                                                                class="fi-rs-label mr-10"></i>Apply</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="border p-md-4 p-30 border-radius cart-totals">
                                <div class="heading_s1 mb-3">
                                    <h4>Cart Totals</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="cart_total_label">Cart Subtotal</td>
                                                <td class="cart_total_amount"><span class="grandTotal"  class="font-lg fw-900 text-brand"><%=grandTotal%></span></td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Shipping</td>
                                                <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                                                    Shipping</td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Total</td>
                                                <td class="cart_total_amount"><strong><span class="grandTotal"
                                                            class="font-xl fw-900 text-brand"><%=grandTotal%>
                                                                </span></strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/v1/users/checkout?userName=<%=userName%>" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                            </div>
                        </div>
                        <%}else{%>
                            <div>
                                <div class="d-flex justify-content-center">
                                    <img style="height: 30em;width: 40em;" src="https://res.cloudinary.com/dkrcoyj7y/image/upload/v1680514933/cart/d438a32e-765a-4d8b-b4a6-520b560971e8_p6lalf.webp" alt="Cart is empty">
                                </div>
                                <div class="my-5 d-flex justify-content-center">
                                    <h3>Cart is Empty!</h3>
                                    
                                </div>
                                <div class="my-5 d-flex justify-content-center">
                                    <a href="/"><button class="btn me-2">Shop More</button></a>
                                </div>
                            </div>

                            <%}%>
                    </div>

            </div>
        </div>
    </div>
</section>